<h1>GoogleMap#index</h1>

<html>
   <head>
      <title>Test</title>
      <%= GMap.header %>
      <%= @map.to_html %>
   </head>
   <body>

		<%= link_to 'Google Maps Integration Tutorial', 'http://www.developer.com/open/article.php/10930_3757576_1/Adding-Google-Maps-To-Your-Rails-Applications.htm' %>
		<%= @map.div(:width => 800, :height => 600) %>

   </body>
</html>